.sidenav::-webkit-scrollbar {
  width: 10px;
}
.sidenav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  border-radius: 10px;
}
.sidenav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.8);
}
body {
  font-family: "Lato", sans-serif;
  transition: 0.3s;
  background-color: #e6e6fa;
  color: rgb(40, 40, 40);
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.sidenav {
  height: 92%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4c4c4c;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.3s;
  padding-top: 60px;
}
.sidenav .closeButton {
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.place-list {
  line-height: 45px;
  padding-left: 10px;
  font-size: 14px;
  margin: 10px 5px 5px 10px;
  text-align: left;
  font-family: 'Helvetica';
  color: springgreen;
}
.searchBarSection {
  width: 200px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  border-width: 4px;
  border-style: inset;
  border-radius: 25px;
  margin-left: 12px;
  font-family: 'Palatino';
  text-decoration: underline;
  color: black;
}
#main {
  transition: margin-left 0.3s;
  padding: 16px;
}
/*for header*/

#titleName {
  font-family: Times;
  text-align: center;
  color: #c71585;
  margin-top: -10px;
  padding-left: 135px;
}
#subTitle {
  text-align: center;
  color: navy;
  margin-top: -15px;
  padding-left: 135px;
}
.hamburgerIcon {
  color: black;
  float: left;
  position: absolute;
  top: 0.4cm;
  left: 0.35cm;
  background-color: inherit;
  font-size: 1.4em;
  cursor: pointer;
  border: none;
}
#map {
  bottom: 0px;
  top: 75px;
  height: 90%;
  left: 2px;
  position: absolute;
  right: 0px;
  overflow: hidden;
}
#pano {
  width: 250px;
  height: 200px;
  margin-left: 25px;
}
/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
  #titleName {
    text-align: center;
    font-size: 7vw;
    padding-right: 25px;
  }
  #subTitle {
    display: none;
  }
  #pano {
    max-width: 160px;
    margin-left: 20px;
  }
  .gm-style-iw {
    max-width: 200px;
  }
  #title {
    font-size: 3.75vw;
  }
  #nyTime,
  #wiki,
  #four {
    font-size: 3.5vw;
  }
  .infoContent {
    font-weight: bold;
    font-size: 3.25vw;
  }
}
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 321px) and (max-width: 480px) {
  #titleName {
    text-align: center;
    font-size: 5vw;
    padding-right: 25px;
  }
  #subTitle {
    text-align: center;
    font-size: 3vw;
    padding-right: 25px;
  }
  #pano {
    max-width: 200px;
    margin-left: 25px;
  }
  .gm-style-iw {
    max-width: 250px;
  }
  #title {
    font-size: 3.75vw;
  }
  #nyTime,
  #wiki,
  #four {
    font-size: 3.5vw;
  }
  .infoContent {
    font-weight: bold;
    font-size: 3.25vw;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #titleName {
    text-align: center;
    font-size: 3vw;
    padding-right: 25px;
  }
  #subTitle {
    text-align: center;
    font-size: 2vw;
    padding-right: 25px;
  }
  #pano {
    width: 250px;
    margin-left: 25px;
  }
  .gm-style-iw {
    max-width: 300px;
  }
  #title {
    font-size: 2.80vw;
  }
  #nyTime,
  #wiki,
  #four {
    font-size: 2.40vw;
  }
  .infoContent {
    font-weight: bold;
    font-size: 2vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #titleName {
    text-align: center;
    font-size: 3vw;
    padding-right: 25px;
  }
  #subTitle {
    text-align: center;
    font-size: 1.75vw;
    padding-right: 25px;
  }
  #pano {
    width: 250px;
    margin-left: 25px;
  }
  .gm-style-iw {
    max-width: 300px;
  }
  #title {
    font-size: 1.9vw;
  }
  #nyTime,
  #wiki,
  #four {
    font-size: 1.5vw;
  }
  .infoContent {
    font-weight: bold;
    font-size: 1.25vw;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  #titleName {
    text-align: center;
    font-size: 2vw;
    padding-right: 25px;
  }
  #subTitle {
    text-align: center;
    font-size: 1.5vw;
    padding-right: 25px;
  }
  #pano {
    width: 250px;
    margin-left: 25px;
  }
  .gm-style-iw {
    max-width: 300px;
  }
  #title {
    font-size: 1.5vw;
  }
  #nyTime,
  #wiki,
  #four {
    font-size: 1.2vw;
  }
  .infoContent {
    font-weight: bold;
    font-size: 1vw;
  }
}
@media only screen and (min-width: 1041px) {
  #titleName {
    text-align: center;
    font-size: 1.9vw;
    padding-right: 25px;
  }
  #subTitle {
    text-align: center;
    font-size: 1.3vw;
    padding-right: 25px;
  }
  #pano {
    width: 250px;
    margin-left: 25px;
  }
  .gm-style-iw {
    max-width: 300px;
  }
  #title {
    font-size: 1.4vw;
  }
  #nyTime,
  #wiki,
  #four {
    font-size: 1.15vw;
  }
  .infoContent {
    font-weight: bold;
    font-size: 1vw;
  }
}